/*  Home Page  */

#main { /*background-color:rgb(75,172,198) !important;*/ background-color: #FCFFD9 !important;  overflow:hidden; }
#main_icon { width:95%; margin: 20% auto; }
#main_icon a { text-decoration: none; }
#main_icon img { width: 49%; }

/* Mood tracker  */

#mood_tracker .list > li > a:after { content: "";}

#mood_tracker .mood-content {
  vertical-align:top; 
  padding-top:5px; 
  overflow:hidden; 
  text-overflow:ellipsis; 
  white-space:nowrap; 
  height:56px; 
  /*width:200px;*/
}

#mood_tracker .mood-list { padding: 10px 10px 10px 10px; }
#mood_tracker .mood-list-time { font-size: 9px; }
#mood_tracker .mood-list-date { font-size: 28px; font-weight:bold; }
#mood_tracker .mood-list-day { font-size: 8px; }

.emoji, .edit-emoji {
  float: left;
  width: 30px;
  height: 32px;
  margin: 5px;
}
.emoji.icon-0, .edit-emoji.icon-0 { background: url(../../images/emoji2.png) -7px -2px no-repeat; }
.emoji.icon-1, .edit-emoji.icon-1 { background: url(../../images/emoji2.png) -42px -2px no-repeat; }
.emoji.icon-2, .edit-emoji.icon-2 { background: url(../../images/emoji2.png) -77px -2px no-repeat; }
.emoji.icon-3, .edit-emoji.icon-3 { background: url(../../images/emoji2.png) -7px -36px no-repeat; }
.emoji.icon-4, .edit-emoji.icon-4 { background: url(../../images/emoji2.png) -42px -36px no-repeat; }
.emoji.icon-5, .edit-emoji.icon-5 { background: url(../../images/emoji2.png) -77px -36px no-repeat; }

div.moji-press {
  border:1px solid rgb(155,187,89);
}

div#mood_new_container textarea {
  overflow-y: hidden; /* prevents scroll bar flash */
  padding-top: 1.1em; /* prevents text jump on Enter keypress */
  min-height: 50px;
}

div#mood_edit_container textarea {
  overflow-y: hidden; /* prevents scroll bar flash */
  /*padding-top: 1.1em; /* prevents text jump on Enter keypress */
  min-height: 50px;
}

.mood_view_content { padding:10px; min-height:300px; }
#mood_view_bottom { width:100%; border-bottom:1px solid #cccccc; padding:2px; font-size:10px; }

#mood_view_bottom .bottom-table { width: 100%; }
.mood-view-datetime { width: 80%; vertical-align: bottom; }
.mood-view-icon { width: 20%; text-align:right; padding-right:3px; }

.mood-view-datetime .view-time { color:#82CAFA; font-size:11px; padding-right:5px; padding-bottom:6px; }
.mood-view-icon img { width:22px; }

.hidden { display:none !important; }


/*   Live Chat   */
#live_chat .avatar {
  width: 3px;
  position: relative;
  display: block;
}
#live_chat li {
  border:none !important;
  /*background: #FFFFFF;*/
  padding: 0.5rem !important;
  overflow: hidden;
  display: -webkit-flex !important;
}
.other .avatar:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border: 5px solid white;
  border-left-color: transparent;
  border-bottom-color: transparent;
}

.messages {
  /*background: white;*/
  padding: 10px;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.messages p {
  line-height: 14px !important;
  font-size: 0.8rem !important;
  margin: 0 0 0.2rem 0 !important;
}
.messages time {
  font-size: 0.7rem;
  color: #999;
}
.self {
  -webkit-justify-content: flex-end;
  -webkit-align-items: flex-end;
}
.self .avatar {
  -webkit-order: 2;
}

.other .messages {
  background: rgb(203, 253, 191);
}

.self .messages {
  background: rgb(253, 246, 191);
  -webkit-order: 1;
  border-bottom-right-radius: 0;
}
.self .avatar:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  border: 5px solid white;
  border-right-color: transparent;
  border-top-color: transparent;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}
#live_chat_footer .icon:before {
  position: relative !important;
  top: 11px !important;
  padding-left: 10px;
  color: #FFFFFF;
}

#live_chat #message_input {
  float:left; padding-top: 3px;
}


/*  Contact List  */

#contact_list a { color:#53575E; text-decoration: none;}
#contact_list .item-box { width:250px; margin:0 auto; }
#contact_list .left-area { float:left; width:70px; text-align:center; vertical-align:middle; }
#contact_list .icon { font-size: 1.65em; }
#contact_list .right-words { width:150px; text-align:left; padding-left:10px; float:left; font-size:20px; }

/*  Center Location  */

.infoWindowContent {
  min-width: 185px;
}

.map-info-bottom {
  min-width: 180px;
}

.map-info-phone, .map-info-direction { 
  text-align:center; 
  font-size:18px !important; 
  border-top:1px solid #999999; 
  padding:3px; 
  display: inline-table !important; 
  width: 48%; 
}
.column3 { width:33% !important; }
.column4 { width:25% !important; }
.column2 { width:50% !important; }

.direct-item { /*display: inline-block !important;*/ }

.direct-item.number { width: 20px; vertical-align: top; text-align: left; }
.direct-item.content { width: 91%; /*vertical-align: top;*/ text-align: left; /*word-wrap:break-word;*/ }

.direct-item-mile, .direct-item-duration { 
  display:inline-table !important; 
  width:49%; 
  font-weight: bold; 
  font-size: 24px !important;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
}


